<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .Title }}{{ .Title }}{{ else }}Signer{{ end }}</title>
  <link rel="stylesheet" href="/assets/css/pico.css"/>
  <link rel="stylesheet" href="/assets/css/picocustom.css"/>
</head>

<body>

<header class="container">
    <nav>
        <ul>
          <li>
            <img src="/assets/images/domeicon.bmp" alt="" style="height:45px">
            <span class="text-large" style="vertical-align:middle;">DOME Local Signer</span>
        </li>
        </ul>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="https://dome.mycredential.eu">DOME</a></li>
          <li><a href="/stop">Stop</a></li>
        </ul>
      </nav>
</header>

  <main class="container">

    {{ template "content" . }}

  </main>
</body>

</html>