{{if .records}}

<h2>Step 2: Select the LEARCredential you want to sign</h2>

<div class="overflow-auto">
    <article>

    <table>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Status</th>
                <th scope="col">Email</th>
                <th scope="col">Created</th>
                <th scope="col">Creator</th>
            </tr>
        </thead>
        <tbody>

            {{range .records}}

            <tr>
                <th scope="row"><a role="button" href="/displaycred/{{.id}}">View</a></th>
                <td>{{.status}}</td>
                <td>{{.email}}</td>
                <td>{{.created}}</td>
                <td>{{.creator_email}}</td>
            </tr>

            {{end}}

        </tbody>
    </table>
    </article>
</div>

{{else}}
<h1>There are no LEARCredentials waiting for signature</h1>
<h4>The Issuer server says that you do not have any credential available for signature</h4>
<a role="button" href="/stop">Stop application</a>

{{end}}