<h1>LEARCredentials waiting for signature</h1>
<h4>Select the credential you want to sign</h4>

<div class="overflow-auto">

    <table>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Status</th>
                <th scope="col">Email</th>
                <th scope="col">Created</th>
                <th scope="col">Creator</th>
            </tr>
        </thead>
        <tbody>

            {{range .records}}

            <tr>
                <th scope="row"><a role="button" href="/displaycred/{{.id}}">View</a></th>
                <td>{{.status}}</td>
                <td>{{.email}}</td>
                <td>{{.created}}</td>
                <td>{{.creator_email}}</td>
            </tr>

            {{end}}

        </tbody>
    </table>
</div>