<h2>Step 1: Select certificate location</h2>

<p>You have to select an eIDAS certificate to be able to sign the credential.
</p>

{{if .validcerts}}
<article>
    <header><b>We found certificates in the Windows cert store</b></header>
    {{if eq (len .validcerts) 1}}
    <p>We have found one certificate in the Windows certificate store. You can select the certificate below if it is the one you want.</p>
    {{else}}
    <p>We have found several certificates in the Windows certificate store. You can select one of the certificates below.</p>
    {{end}}

    <div class="overflow-auto">
    <table>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Common name</th>
                <th scope="col">Organisation</th>
                <th scope="col">Issuer</th>
                <th scope="col">Valid until</th>
            </tr>
        </thead>
        <tbody>

            {{range .validcerts}}

            <tr>
                <td scope="row"><a role="button" href="/selectcertificate?serial={{.SerialNumber}}">Select</a></td>
                <td>{{.CommonName}}</td>
                <td>{{.Organization}}</td>
                <td>{{.IssuerCommonName}}</td>
                <td>{{.NotAfter}}</td>
            </tr>

            {{end}}

        </tbody>
    </table>
    </div>
</article>
{{end}}


<article>
    <header><b>Select a certificate from a file</b></header>

    {{if .validcerts}}
    <p>Alternatively, you can use a certificate in a file in your disk.</p>
    {{else}}
    <p>You can select a certificate in a file in your disk.</p>
    {{end}}
    <p><b>If the file is encrypted (which it should), you have also to provide the password that was used to encrypt the certificate file.</b>
    </p>
    <form action="/selectfilecertificate" method="post" enctype="multipart/form-data">
        <label>
            <input type="file" name="file"/>
        </label>
        <label>
            Password for the certificate
            <input type="password" name="password" placeholder="Password" aria-label="Password" />
        </label>
        <input
        type="submit"
        value="Select"
        />
    </form>
</article>

